*{
    box-sizing: border-box;
}
body{
    margin:50px;
    padding:0;
    font-family :sans-sarif;
    background-color:whitesmoke;
}

.page-container{
    /* width: 90%; */
    margin:0 auto;
    padding:50px;
    background-image: linear-gradient(to right,rgb(211, 110, 236),rgb(229, 157, 217),rgb(157, 224, 241));   
    border-radius: 20px;
}

.product-listing{
    display: flex; 
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row; 
}
.cart-info{
    display: flex; 
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row; 
}
.product-listing .product-list-item{
        padding:10px 30px;
        width:200px;
    
}
.navbar-grd{
    border-radius: 50px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right,rgb(157, 224, 241),rgb(211, 110, 236),rgb(229, 157, 217))
}

.toastStyles{
    position:absolute;
    top:0px;
    right:0px;
}